body {
    background-image: url(./images/concrete_seamless.png);
}

p {
    line-height: 1.7em;
}

.position-absolute {
    z-index: 3;
    padding: 1em 0;
    text-align: center;
    left: 0;
    bottom: .8em;
}

nav{
    background-color: #085467;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(255,255,255,.6);
}

h2 {
    color: rgba(8, 84, 103, .8);
}

.img-bck {
    background-color: rgba(8, 84, 103, .9);;
}

